style 
  include text-field.scss
mixin text-field(label, placehold, isFocused, isSubscription)
  div.text-field
    // 
    if isSubscription 
      h3(class="text-field__label text-field__label_subscritpion") #{label}
      input(type="text" class="text-field__input text-field__input_subscritpion" placeholder=placehold)
    else 
      h3.text-field__label #{label}
      if isFocused 
        input(type="text" class="text-field__input text-field__input-isFocused" placeholder=placehold)
      else 
        input(type="text" class="text-field__input" placeholder=placehold)